@model IEnumerable<InchirieriAuto.Models.AngajatiModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
        
            <th>
            @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oras)
            </th>
            <th>
                @if (User.IsInRole("Admin"))
                {
                
                    @Html.DisplayNameFor(model => model.DataNasterii)
                }
                
            </th>
            <th>
                @if (User.IsInRole("Admin"))
                {
                    @Html.DisplayNameFor(model => model.CNP)
                }
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumarTelefon)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.AdresaCompleta)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oras)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                    @Html.DisplayFor(modelItem => item.DataNasterii)
                    }
                </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                    @Html.DisplayFor(modelItem => item.CNP)
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumarTelefon)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                    @Html.DisplayFor(modelItem => item.AdresaCompleta)
                    }
            </td>
            <td>
                
                    @if (User.IsInRole("Admin"))
                    {
                     @Html.ActionLink("Details", "Details", new {  id=item.IDAngajat })
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        @Html.ActionLink("Edit", "Edit", new {  id=item.IDAngajat })
                    }
                    @if (User.IsInRole("Admin"))
                    {
                    @Html.ActionLink("Delete", "Delete", new {  id=item.IDAngajat })
                    }
            </td>
            </tr>
     }
    </tbody>
</table>
